.allAlbum {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 100vw;
  margin-top: 3rem;
  padding-left: 65px;
  :hover {
    cursor: pointer;
    // background-color: #898b91;
    margin-top: 2rem;
  }
*.Nav_link{
  text-decoration: none;
}
  .album_img {
    height: 180px;
    width: 180px;
    margin: 3rem 2rem 1rem 0;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 5%;
    }

    .title {
      color: #fff;
      font-size: 13px;
      padding: 10px 0;
    }
  }
}
.allArtist {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 100vw;
  margin-top: 3rem;
  padding-left: 65px;
  :hover {
    cursor: pointer;
    // background-color: #898b91;
    margin-top: 2rem;
  }

  *.Nav_link{
    text-decoration: none;
  }
  .artist_img {
    margin-top: 3rem;
    height: 180px;
    width: 180px;
    margin: 3rem 2rem 1rem 0;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    .title {
      color: #fff;
      font-size: 13px;
      padding: 10px 0;
      text-align: center;
    }
  }
}
