* {
  margin: 0;
  padding: 0;
}

.popularBody {
  margin-top: 50px;
  font-size: 12px;
  padding: 50px 150px;
}

.popularBody * {
  color: white !important;
  opacity: 0.9;
}

.popularTable {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  justify-self: right;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 0.5rem;
}

th {
  text-transform: uppercase;
  color: #99999f;
}

table,
th,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

td {
  cursor: pointer;
}

tr > th:nth-child(1) {
  width: 4%;
}
tr > th:nth-child(2) {
  width: 3%;
}

tr > th:nth-child(3) {
  width: 26%;
}

tr > th:nth-child(4) {
  width: 22%;
}

tr > th:nth-child(5) {
  width: 28%;
}

tr > th:nth-child(6) {
  width: 10%;
}

tr > th:nth-child(7) {
  width: 6%;
}

tr > td:nth-child(1) {
  float: right;
  color: #99999f;
}

tr > td:nth-child(2) {
  color: #99999f;
}

img {
  width: 20px;
  margin-right: 10px;
}

tr > td:nth-child(4) {
  color: #99999f;
}

tr > td:nth-child(5) {
  color: #99999f;
}

.dots {
  display: none !important;
}

.smallCard {
  background: #9B2DEF;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleFlex {
  display: flex;
}

@media (max-width: 1000px) {
  .popularBody {
    padding: 25px 15px;
  }

  .dots {
    display: block !important;
  }

  .add {
    display: none !important;
  }

  th {
    display: none;
  }

  tr > td:nth-child(1),
  tr > td:nth-child(3),
  tr > td:nth-child(4) {
    display: none;
  }
}
