* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #161A1A;
}

.gradient .progress-bar {
  background: transparent linear-gradient(281deg, #9B2DEF 0%, #2D9BEF 58%, #35EDFB 100%) 0% 0% no-repeat padding-box;
}
.white .progress-bar{
  background-color:  #fff;
}