* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #161a1a;
}

.gradient .progress-bar {
  background: transparent linear-gradient(281deg, #9b2def 0%, #2d9bef 58%, #35edfb 100%) 0% 0% no-repeat padding-box;
}
.white .progress-bar {
  background-color: #fff;
}
