.modalbg{
border: none;
 margin-top: 8rem;
  width: 100%;
}

.buttonOone {
  width: 248px;
  height: 36px;
  background: #4267b2 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 20px;
  opacity: 1;
}

.buttonTtwo {
  width: 248px;
  height: 36px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #121212;
  border-radius: 20px;
  opacity: 1;
}

.fbButton {
 margin: 0 30px;
 font-family:Lato;
 text-align: center;
 letter-spacing: 0.08px;

}
  .gButton {
 margin: 0 39px;
 font-family:Lato;
 text-align: center;
 letter-spacing: 0.08px;

}

.btnTwo {
  height: 13px;
  text-align: center;
  color: #121212;
  opacity: 1;
}

.Slogin {
  width: 426px;
  height: 40px;
  border: 1.5px solid var(--unnamed-color-161a1a);
  border: 1px solid #161a1a;
  background: #ffffff;
  border-radius: 20px;
  opacity: 1;
}
.signup {
    width: 320px;
height: 40px;
background: #2D9BEF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

@media (max-width: 767px) {
  .modalbg{
border: none;
 margin-top: 3rem;
  width: 100%;
}

    .buttonOone {
    width: 248px;
    height: 36px;
    background: #4267b2 0% 0% no-repeat padding-box;
    color: #fff;
    border-radius: 20px;
    opacity: 1;
    margin: 0 auto;
  }

  .buttonTtwo {
    width: 248px;
    height: 36px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #121212;
    border-radius: 20px;
    opacity: 1;
    margin: 10px auto;
  }

  .Slogin {
    width: 426px;
    height: 40px;
    border: 1.5px solid var(--unnamed-color-161a1a);
    border: 1px solid #161a1a;
    background: #ffffff;
    border-radius: 20px;
    opacity: 1;
  }
  .fbButton {
 margin: 0 50px;
 font-family:Lato;
 text-align: center;
 letter-spacing: 0.08px;

}
  .gButton {
 margin: 0 55px;
 font-family:Lato;
 text-align: center;
 letter-spacing: 0.08px;

}
}
